:root{
     display: flex;
     margin: auto;
     justify-content: center; 
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
     background-color: darkcyan;
    
    }

 iframe{
     border: 5px dashed black;
     padding-top: 10px;
     padding-left: 5px;
     padding-right: 5px;
     padding-bottom: 3px;
     background-color: #fff;
 }

 #Text_Ical{

 border-bottom: 4px dashed darkred;
 border-right:  4px dashed darkred;
 border-left:   4px dashed darkred;
 color: white;
}

#Text_AntesIcal{
 border-top:   4px dashed darkred;
 border-right: 4px dashed darkred;
 border-left:  4px dashed darkred;
 font-size: 30px;
 color: white;
}

#Text_Principio{
    color: #e0dcdc;
    text-align: center;
    

}

#Img_F1logo{
   background-color: darkcyan;
}